colorama==0.4.3
easydict==1.9
jupyterlab==1.2.6
matplotlib==3.1.3
nltk==3.4.5
numpy==1.18.1
path==13.1.0
pathlib2==2.3.5
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
termcolor==1.1.0
torch==1.5.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.6.0a0+82fd1c8
tqdm==4.42.1
google-cloud-storage==1.28.1